.d-inline {
  display: inline !important;
}

.d-block {
  display: block !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.w-100 {
  width: 100% !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.main-wrapper {
  padding: 16px;
}
